@font-face {
  font-family: 'Blanch Caps';
  src: local("Blanch Caps"), local("Blanch Caps"), url(http://localhost:3000/fonts/BLANCH_CAPS.otf);
}

/* line 29, ../sass/server-old.scss */
header {
  height: 96px;
  width: 100%;
  background-color: #2FCFC8;
}

/* line 36, ../sass/server-old.scss */
body {
  margin: 0;
  background-color: #F9F7F4;
}

/* line 42, ../sass/server-old.scss */
.thoth-logo {
  width: 125px;
  height: 116px;
  background: url(../img/logo-01.png) 0 0 no-repeat;
  margin-left: 70px;
  float: left;
  margin-top: 21px;
}

/* line 51, ../sass/server-old.scss */
.fork-logo {
  width: 195px;
  height: 72px;
  background: url(../img/thoth-fork.png) 0 0 no-repeat;
  margin-right: 80px;
  float: right;
  margin-top: 11px;
}

/* line 61, ../sass/server-old.scss */
.btn-small {
  width: 120px;
  height: 50px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #e8942d 0px 4px 0px;
  -moz-box-shadow: #e8942d 0px 4px 0px;
  box-shadow: #e8942d 0px 4px 0px;
  border: 0px;
  font-family: 'Lato', serif;
}

/* line 73, ../sass/server-old.scss */
.orange {
  background-color: #F6AB3B;
  color: white;
}

/* line 78, ../sass/server-old.scss */
.get-data-btn {
  margin-left: 30px;
}

/* line 83, ../sass/server-old.scss */
.menu-nav {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 75px;
  background-color: #E5E5E5;
  width: 1175px;
  margin-left: 240px;
  margin-top: 76px;
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #515460;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* line 99, ../sass/server-old.scss */
input[type="text"] {
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 15px;
  border: 3px solid #F9F7F4;
  background-color: #F9F7F4;
  height: 35px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  font-size: 15px;
  color: #2a2e35;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 20px;
}
/* line 113, ../sass/server-old.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 118, ../sass/server-old.scss */
.triangle {
  margin-top: -15px;
  display: block;
  float: left;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #d8d8d8 transparent;
}

/* line 129, ../sass/server-old.scss */
.input-server {
  width: 120px;
}

/* line 132, ../sass/server-old.scss */
.input-date {
  width: 165px;
}

/* line 135, ../sass/server-old.scss */
.input-core {
  width: 80px;
}

/* line 138, ../sass/server-old.scss */
.input-port {
  width: 50px;
}

/* line 142, ../sass/server-old.scss */
#servers-label, #pools-label, #exceptions-label, #slow-queries-label, #realtime-label {
  color: white;
  position: relative;
  top: 45px;
  display: inline-block;
  font-family: 'Blanch Caps';
  font-size: 32px;
  margin-left: 20px;
}

/* line 152, ../sass/server-old.scss */
.selected-label {
  color: #373d49!important;
  border-bottom: 5px solid #373d49;
  padding-bottom: 10px;
}

/* line 158, ../sass/server-old.scss */
a {
  text-decoration: none;
}

/* line 162, ../sass/server-old.scss */
#corpus {
  position: relative;
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 172, ../sass/server-old.scss */
.graph-box {
  background-color: #2A2E35;
  width: 45%;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  height: 500px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 182, ../sass/server-old.scss */
.graph-box .title {
  color: #2FCFC8;
  font-size: 42px;
  font-family: verdana;
  margin-left: 25px;
  margin-top: 25px;
  display: inline-block;
  float: left;
}
/* line 192, ../sass/server-old.scss */
.graph-box button {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}

/* line 200, ../sass/server-old.scss */
button {
  cursor: pointer;
}

/* line 205, ../sass/server-old.scss */
.tick {
  display: none;
}

/* line 208, ../sass/server-old.scss */
.tick line {
  display: none;
}

/* line 212, ../sass/server-old.scss */
div.thoth-logo {
  position: relative;
}

/* line 216, ../sass/server-old.scss */
div.thoth-logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* No underlines on the link */
  z-index: 10;
  /* Places the link above everything else in the div */
  background-color: #FFF;
  /* Fix to make div clickable in IE */
  opacity: 0;
  /* Fix to make div clickable in IE */
  filter: alpha(opacity=1);
  /* Fix to make div clickable in IE */
}
