@font-face {
  font-family: 'Blanch Caps';
  src: local("Blanch Caps"), local("Blanch Caps"), url(/fonts/BLANCH_CAPS.otf);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

nav {
  background-color: #373d48;
  color: #fff;
  font-family: 'Blanch Caps';
  font-size: 24px;
  padding: 0;
  margin: 0;
  display: block;
  width: 140px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

nav img {
  padding: 0;
  display: block;
  margin: auto;
  /*width: 70px;*/
  /*height: 100px;*/
   width: 140px;
  height: 120px;

}

nav ul {
  list-style: none;
  padding: 0px
}

nav li {
  border-bottom: 2px solid #2a2e35;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav li.active {
  background-color: #2a2e35;
}


nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.content {
  height: 100%;
  margin-left: 140px;
  background-color:#fff;
  color: #000;
}

header {
  background-color: #dfe8e7;
}

.form-inline {
  padding: 15px 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.form-inline li {
  display: inline-block;
}

.form-title {
  font-family: 'Blanch Caps';
  font-style: normal;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 12px;
  margin-right: 10px;
}

.btn {
  width: 50px;
  height: 34px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: #e8942d 0px 4px 0px;
  border: 0px;
  background-color: #F6AB3B;
  color: white;
  cursor: pointer;
}

input[type="text"] {
  margin-left: 5px;
  margin-right: 15px;
  border: 0;
  background-color: white;
  height: 20px;
  border-radius: 30px;
  font-size: 15px;
  color: #2a2e35;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="text"]:focus {
  outline: none;
}

i.entypo {
  font-style: normal;
  font-size: 1.5em;
  width: 16px;
  display: inline-block;
  text-align: center;
  margin-right:8px;
  cursor: pointer;
}

i.ccw{
  font-size: 2em;
}

.graph {
  display: inline-block;
  background-color: #2A2E35;
  border-radius: 10px;
  color: #fff;
  margin: 30px 0 0 30px;
  width: 438px;
}

.graph svg {
  margin-top:10px;
  width: 425px;
  height: 225px;
}

.graph h2, .lighboxGraph h2{
  margin: 0;
  color: white;
  font-size: 19px;
  font-family: 'Roboto Slab';
  font-weight: 300;
  padding-left: 25px;
  padding-top: 3px;
  /*float: left;*/
}

.graph h3{
  margin: 0;
color: white;
font-size: 19px;
font-family: 'Roboto Slab';
font-weight: 300;
padding-left: 5px;
padding-top: 3px;
/*float: left;*/
display: inline-block;
}

.graph label{
  margin: 0;
color: white;
font-size: 19px;
font-family: 'Roboto Slab';
font-weight: bold;
padding-left: 25px;
padding-top: 3px;
/*float: left;*/
display: inline-block;
}


.lighboxGraph h2{
  margin-top: 2%;
  margin-left: 5%;
}

.graph a {
  float: right;
}

.graph i {
  color: #f8ac2a;
  width: 30px;
  /*padding-top: 17px;*/
  border: 0px;
  font-size: 4em;
  margin-top: -10px;
  float: right;
  margin-right:20px;
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .7);
  /*background-color: black;*/
  /*opacity: 0.8;*/
}
.lighboxGraph{
  width: 100%;
  height: 100%;
}
.lighboxGraph svg{
  background-color: #f9f7f4;
  position: absolute;
  padding-left: 2%;
  padding-right: 2%;
  width: 90%;
  height: 80%;
  top: 10%;
  bottom: 5%;
  left: 3%;
  right: 3%;
}

#lightbox .box {
  position: absolute;
  top: 5%;
  bottom:5%;
  left: 5%;
  right:5%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color:  #2A2E35;
}

.graph .tick {
  display: none;
}

/*
.nv-legend-text, .nv-legend-symbol {
  display: none;
}
*/
/* line 12, ../sass/server-new.scss */
.graph .nv-y .nv-axis, .graph .nv-x .nv-axis, .graph .nv-legend-text {
  stroke: #f9f7f4;

}

.graph .nvd3 .nv-axis .nv-axisMaxMin text,.graph .nvd3 .nv-axislabel, .graph .nv-legend-text{
  font-weight: 400;
  font-family: 'Lato', sans-serif;
    /*font-style: italic;*/
}

.graph .nvd3 .nv-axis path {
  fill: none;
  stroke: #f9f7f4;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}


.nvd3 .nv-groups path.nv-line {
  stroke-width: 2px!important;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#lightbox .nvtooltip {
  background-color: transparent;
  color: black;
  border: 0px;
}

.graph .nvtooltip {
  display: none;
  background-color: transparent;
  color: white;
  border: 0px;
}


