
@font-face {
  font-family: 'Blanch Caps';
  src: local('Blanch Caps'), local('Blanch Caps'), url(/fonts/BLANCH_CAPS.otf);
}


.left-menu{

	position: absolute; 
left: 0px; 
top: -5px;
bottom: 0px; 
min-width:200px; 
padding-top:5px; 
background-color: #bfc789; 
min-height: 100%;

	font-family: 'Blanch Caps';
	font-size: 24px;
	background-color: #373D49;
	color: white;
	// float: left;
	// height: 100%;
	// width: 200px;
	a {
		text-decoration: none;
		color: white;
	}
	li {
		list-style-type: none;
		margin: 0; 
		padding: 0; 
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 2px solid #26292E;
	}
	li:last-child{ 
		border-bottom: 2px solid #26292E;
	}	
	li:hover {
	   background-color: black;
	}

	ul {
		margin: 0;
		padding: 0;
	} 
	.active{
		background-color: black;
		a{
			color: #2FCFC8;
		}
	}	
}

#logo{
	width: 200px;
	background-color: white;
	height: 84px;
	background-color: #2FCFC8; 
}

.spacer{
	margin-bottom: 70px;
}
.thoth-logo{
	width:125px;
	height:116px;
	background:url(../img/thoth-logo.svg) 0 0 no-repeat;
	background-size: 139px 115px;
	margin-left:35px;
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
}

body{
	background-color: #373D49;
}

body, html {
    padding : 0px;
    margin : 0px;
    height : 100%;
} 



.input-server{
	width: 120px;	
}
.input-date{
	width: 165px;	
}
.input-core{
	width: 80px;	
}
.input-port{
	width: 50px;	
}

input[type="text"]{
	margin-left: 5px;
	margin-right: 15px;
	// margin-top:15px;
	border: 3px solid #F9F7F4;
	background-color: white;
	height: 35px;
	@include border-radius(30px); 
	font-size: 15px;
	color: #2a2e35;
	font-family: 'Lato', sans-serif;
	 font-style: normal;
	  font-weight: 400;	
	padding-left: 20px;
	&:focus{
		outline : none;
	}
}

.btn-small{
	width: 120px;
	height: 50px;
	font-size: 20px;
    // text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    @include border-radius(5px); 
	@include box-shadow(#E8942D 0px 4px 0px);
    // border-left: 0px;
    border: 0px;
    font-family: 'Lato', serif;
}

.orange{
	background-color: #F6AB3B;	
	color: white;
}


button{
	  cursor: pointer;
}

header{
	height: 84px;
	width: 100%;
	background-color: #DFE8E7;
	font-size: 16px;
	color: #515460;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 400;
	margin-left: 200px;
}

.header-title{
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Blanch Caps';
	font-size: 47px;
	font-style: normal;
}
.left-m-icon{
	margin-left: 20px;
	margin-right: 15px;
}

.content{
	background-color: #f9f7f4;
	margin-left: 200px;
	width:100%;
	min-height: 1024px;
}

.entypo{
  vertical-align:-2px;
}

.view-lightbox{

	background-color: #2A2E35;
	width: 65px;
	height: 35px;
	padding-top: 17px;
	span{

	color: #F8AC2A;
		font-size: 8em;	
	}
	border: 0px;
}