@import "compass/css3";
@import "base";


.uber-container{
	height: 100%;
}

.nv-legend-text,.nv-legend-symbol{
	display:none;
}
.nv-y .nv-axis, .nv-x .nv-axis{
	display:none;
}


.recap{
	font-size: 59px;
	padding-left: 25px;
	font-family: 'Roboto Slab';
		font-weight: 700;
	}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.graph-box{
	// visibility:hidden;
	display: inline-block;
	background-color: #2A2E35;
	  // @include opacity(0.9);
	width: 800px;
	// float: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	height: 540px;
	@include border-radius(10px); 
	.title{
		color: white;
	// font-size: 42px;
	font-size: 27px;
	font-family: 'Roboto Slab';
		font-weight: 300;
		padding-left: 25px;
	padding-top: 25px;
	display:inline-block;
	float:left;

	}
	button{
		float:right;
		margin-top:20px;
		margin-right: 25px;

	}
}

.nvd3 .nv-groups path.nv-line {
  // fill: none;
	stroke-width: 3px!important;
  // stroke-linecap: round;
  // shape-rendering: geometricPrecision;
}
 
#corpus{
	position: relative;
	margin-top: 100px;
	// background-color:red;
	// height: 800px;
	width: 90%;
margin-left: 5%;
margin-right: 5%;
}

.svg-graph{
	height:390px;
}

//  Hide grids
.tick {
  display: none;
}
.tick line {
  display: none;
}


.elements{
	height: 150px;
}
.view-lightbox{

	background-color: #2A2E35;
	width: 65px;
	height: 35px;
	padding-top: 17px;
	span{

	color: #F8AC2A;
		font-size: 8em;	
	}
	border: 0px;
}

table{
	width:100%;
}

