@import "compass/css3";

@font-face {
  font-family: 'Blanch Caps';
  src: local('Blanch Caps'), local('Blanch Caps'), url(http://localhost:3000/fonts/BLANCH_CAPS.otf);
}

// @font-face
// {
// 	font-family: BLANCH_CONDENSED;
// 	src: url(BLANCH_CONDENSED.ttf);
// }

// @font-face
// {
// 	font-family: BLANCH_CAPS_INLINE;
// 	src: url(BLANCH_CAPS_INLINE.ttf);
// }

// @font-face
// {
// 	font-family: BLANCH_CAPS_LIGHT;
// 	src: url(BLANCH_CAPS_LIGHT.ttf);
// }




header {
	height: 96px;
	width: 100%;
	background-color: #2FCFC8;
	// font-family: OpenSans,sans-serif;
}

body {
	margin: 0;
	background-color: #F9F7F4;
	// background-color: black;
}

.thoth-logo{
	width:125px;
	height:116px;
	background:url(../img/logo-01.png) 0 0 no-repeat;
	margin-left:70px;
	float: left;
	margin-top: 21px;
}

.fork-logo {
width: 195px;
height: 72px;
background: url(../img/thoth-fork.png) 0 0 no-repeat;
margin-right: 80px;
float: right;
margin-top: 11px;
}


	.btn-small{
	width: 120px;
	height: 50px;
	font-size: 20px;
    // text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    @include border-radius(5px); 
	@include box-shadow(#E8942D 0px 4px 0px);
    // border-left: 0px;
    border: 0px;
    font-family: 'Lato', serif;
}

.orange{
	background-color: #F6AB3B;	
	color: white;
}

.get-data-btn{

	margin-left: 30px;
}

.menu-nav{
	@include border-radius(10px); 
	height: 75px;
	background-color: #E5E5E5;
	width: 1175px;
	margin-left: 240px;
	margin-top: 76px;
	position: relative;
	padding-left: 30px;
	font-size: 16px;
	color: #515460;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 400;
}

input[type="text"]{
	margin-left: 5px;
	margin-right: 15px;
	margin-top:15px;
	border: 3px solid #F9F7F4;
	background-color: #F9F7F4;
	height: 35px;
	@include border-radius(30px); 
	font-size: 15px;
	color: #2a2e35;
	font-family: 'Lato', sans-serif;
	 font-style: normal;
	  font-weight: 400;	
	padding-left: 20px;
	&:focus{
		outline : none;
	}
}

.triangle{
	margin-top: -15px;
	display: block;
	float: left;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #d8d8d8 transparent;
}

.input-server{
	width: 120px;	
}
.input-date{
	width: 165px;	
}
.input-core{
	width: 80px;	
}
.input-port{
	width: 50px;	
}

#servers-label, #pools-label, #exceptions-label, #slow-queries-label, #realtime-label {
	color: white;
	position: relative;
	top: 45px;
	display: inline-block;
	font-family: 'Blanch Caps';
	font-size: 32px;
	margin-left: 20px;
}

.selected-label{
	color: #373d49!important;
	border-bottom: 5px solid #373d49;
	padding-bottom: 10px;
}

a{
	text-decoration: none;
}

#corpus{
	position: relative;
	margin-top: 100px;
	// background-color:red;
	// height: 800px;
	width: 90%;
margin-left: 5%;
margin-right: 5%;
}

.graph-box{
	background-color: #2A2E35;
	  // @include opacity(0.9);
width: 45%;
float: left;
margin-left: 2%;
margin-right: 2%;
margin-top: 2%;
height: 500px;
	@include border-radius(10px); 
.title{
	color: #2FCFC8;
font-size: 42px;
	font-family: verdana;
	margin-left: 25px;
margin-top: 25px;
display:inline-block;
float:left;

}
button{
	float:right;
	margin-top:20px;
	margin-right: 25px;

}
}

button{
	  cursor: pointer;
}

//  Hide grids
.tick {
  display: none;
}
.tick line {
  display: none;
}

div.thoth-logo {
    position: relative;
}
 
div.thoth-logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}