@font-face {
  font-family: 'Blanch Caps';
  src: local("Blanch Caps"), local("Blanch Caps"), url(/fonts/BLANCH_CAPS.otf);
}

/* line 8, ../sass/base.scss */
.left-menu {
  position: absolute;
  left: 0px;
  top: -5px;
  bottom: 0px;
  min-width: 200px;
  padding-top: 5px;
  background-color: #bfc789;
  min-height: 100%;
  font-family: 'Blanch Caps';
  font-size: 24px;
  background-color: #373D49;
  color: white;
}
/* line 26, ../sass/base.scss */
.left-menu a {
  text-decoration: none;
  color: white;
}
/* line 30, ../sass/base.scss */
.left-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #26292E;
}
/* line 38, ../sass/base.scss */
.left-menu li:last-child {
  border-bottom: 2px solid #26292E;
}
/* line 41, ../sass/base.scss */
.left-menu li:hover {
  background-color: black;
}
/* line 45, ../sass/base.scss */
.left-menu ul {
  margin: 0;
  padding: 0;
}
/* line 49, ../sass/base.scss */
.left-menu .active {
  background-color: black;
}
/* line 51, ../sass/base.scss */
.left-menu .active a {
  color: #2FCFC8;
}

/* line 57, ../sass/base.scss */
#logo {
  width: 200px;
  background-color: white;
  height: 84px;
  background-color: #2FCFC8;
}

/* line 64, ../sass/base.scss */
.spacer {
  margin-bottom: 70px;
}

/* line 67, ../sass/base.scss */
.thoth-logo {
  width: 125px;
  height: 116px;
  background: url(../img/thoth-logo.svg) 0 0 no-repeat;
  background-size: 139px 115px;
  margin-left: 35px;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 78, ../sass/base.scss */
body {
  background-color: #373D49;
}

/* line 82, ../sass/base.scss */
body, html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

/* line 90, ../sass/base.scss */
.input-server {
  width: 120px;
}

/* line 93, ../sass/base.scss */
.input-date {
  width: 165px;
}

/* line 96, ../sass/base.scss */
.input-core {
  width: 80px;
}

/* line 99, ../sass/base.scss */
.input-port {
  width: 50px;
}

/* line 103, ../sass/base.scss */
input[type="text"] {
  margin-left: 5px;
  margin-right: 15px;
  border: 3px solid #F9F7F4;
  background-color: white;
  height: 35px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  font-size: 15px;
  color: #2a2e35;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 20px;
}
/* line 117, ../sass/base.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 122, ../sass/base.scss */
.btn-small {
  width: 120px;
  height: 50px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #e8942d 0px 4px 0px;
  -moz-box-shadow: #e8942d 0px 4px 0px;
  box-shadow: #e8942d 0px 4px 0px;
  border: 0px;
  font-family: 'Lato', serif;
}

/* line 134, ../sass/base.scss */
.orange {
  background-color: #F6AB3B;
  color: white;
}

/* line 140, ../sass/base.scss */
button {
  cursor: pointer;
}

/* line 144, ../sass/base.scss */
header {
  height: 84px;
  width: 100%;
  background-color: #DFE8E7;
  font-size: 16px;
  color: #515460;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 200px;
}

/* line 156, ../sass/base.scss */
.header-title {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Blanch Caps';
  font-size: 47px;
  font-style: normal;
}

/* line 164, ../sass/base.scss */
.left-m-icon {
  margin-left: 20px;
  margin-right: 15px;
}

/* line 169, ../sass/base.scss */
.content {
  background-color: #f9f7f4;
  margin-left: 200px;
  width: 100%;
  min-height: 1024px;
}

/* line 176, ../sass/base.scss */
.entypo {
  vertical-align: -2px;
}

/* line 180, ../sass/base.scss */
.view-lightbox {
  background-color: #2A2E35;
  width: 65px;
  height: 35px;
  padding-top: 17px;
  border: 0px;
}
/* line 186, ../sass/base.scss */
.view-lightbox span {
  color: #F8AC2A;
  font-size: 8em;
}

/* line 4, ../sass/exceptions.scss */
.exceptions {
  padding-bottom: 30px;
}

/* line 7, ../sass/exceptions.scss */
.recap {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px!important;
  text-align: center;
  padding-top: 20px;
  width: 80%;
  margin-bottom: 10px;
}

/* line 19, ../sass/exceptions.scss */
.row {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #2A2E35;
  width: 80%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* line 33, ../sass/exceptions.scss */
.entypo {
  vertical-align: -10px !important;
}

/* line 38, ../sass/exceptions.scss */
.date, .exception-class {
  display: inline-block;
}

/* line 42, ../sass/exceptions.scss */
.date {
  color: white;
  font-size: 15px;
}

/* line 47, ../sass/exceptions.scss */
.exception-class {
  color: #FACC31;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
}

/* line 55, ../sass/exceptions.scss */
.query-title, .stacktrace-title {
  color: white;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  margin-right: 40px;
}

/* line 65, ../sass/exceptions.scss */
.stacktrace {
  color: #78D5E3;
}

/* line 69, ../sass/exceptions.scss */
.query {
  color: #98D37F;
}

/* line 72, ../sass/exceptions.scss */
.query, .stacktrace {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
  /* essential */
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  /* for good looks */
}

/* line 88, ../sass/exceptions.scss */
.view-lightbox {
  margin-left: 40px;
}
